body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

* {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 5px;
}

#bodyFilter {
  position: absolute;
  display: none;
  height: 1750px;
  width: 100%;
  background: white;
  opacity: 0.9;
  z-index: 2;
}

header {
  position: relative;
  padding: 40px 25px;
  justify-content: space-between;
}
header #logo {
  height: 35px;
}
@media screen and (min-width: 1024px) {
  header {
    padding: 40px 5%;
  }
}
header h1 {
  font-size: 1em;
  color: #901c1c;
}
header .nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  header .nav {
    top: 40px;
    flex-direction: row;
  }
}
header .nav .nav1__ul, header .nav .nav2__ul {
  padding: 0;
  margin: auto;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  header .nav .nav1__ul, header .nav .nav2__ul {
    margin: auto 1.3% auto auto;
  }
}
@media screen and (min-width: 1024px) {
  header .nav .nav2__ul {
    margin: auto auto auto 1.3%;
  }
}
header .nav .nav__ul__li, header .nav .nav__ul__li-toggle {
  height: 13px;
  padding: 5px;
  margin: 2%;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  list-style-type: none;
  color: #901c1c;
}
header .nav .nav__ul__li-toggle {
  display: none;
  border: 0px solid #d4d4d4;
  color: white;
  background: #901c1c;
}

#main {
  position: relative;
  top: 80px;
  max-width: 1100px;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  #main {
    top: 0;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 80px;
  }
}
#main .main__photographer {
  margin: 3% auto 3% auto;
  height: 350px;
}
#main .main__photographer .main__photographer__photo {
  height: 200px;
}
#main .main__photographer .main__photographer__photo img {
  margin: auto;
  object-fit: cover;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
#main .main__photographer .main__photographer__description {
  height: 75px;
  text-align: center;
}
#main .main__photographer .main__photographer__description .main__photographer__description__name {
  font-size: 2.3em;
  color: #d3573c;
}
#main .main__photographer .main__photographer__description .main__photographer__description__city {
  color: #901c1c;
}
#main .main__photographer .main__photographer__description .main__photographer__description__tagline {
  color: black;
}
#main .main__photographer .main__photographer__description .main__photographer__description__price {
  color: grey;
}
#main .main__photographer .main__photographer__description .main__photographer__container {
  justify-content: center;
}
#main .main__photographer .main__photographer__description .main__photographer__container .main__photographer__container__tags {
  height: 13px;
  padding: 5px;
  margin: 2%;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  list-style-type: none;
  color: #901c1c;
}

#mainInPage {
  position: relative;
  padding: 0 20px;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  #mainInPage {
    top: 0;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
}
@media screen and (min-width: 1500px) {
  #mainInPage {
    top: 0;
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
}
#mainInPage .mainInPage__photographer {
  height: 125px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #mainInPage .mainInPage__photographer {
    height: auto;
    padding: 30px;
    background: #fafafa;
  }
}
#mainInPage .mainInPage__photographer .mainInPage__photographer__photo {
  position: absolute;
  right: 20px;
  top: -10px;
  height: 100px;
}
@media screen and (min-width: 1024px) {
  #mainInPage .mainInPage__photographer .mainInPage__photographer__photo {
    right: 50px;
    top: 40px;
  }
}
#mainInPage .mainInPage__photographer .mainInPage__photographer__photo img {
  object-fit: cover;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
@media screen and (min-width: 1024px) {
  #mainInPage .mainInPage__photographer .mainInPage__photographer__photo img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  #mainInPage .mainInPage__photographer .mainInPage__photographer__description {
    font-size: 1.3em;
  }
}
#mainInPage .mainInPage__photographer .mainInPage__photographer__description .mainInPage__photographer__description__name {
  width: 70%;
  font-size: 2em;
  color: #d3573c;
}
@media screen and (min-width: 1024px) {
  #mainInPage .mainInPage__photographer .mainInPage__photographer__description .mainInPage__photographer__description__name {
    width: auto;
  }
}
#mainInPage .mainInPage__photographer .mainInPage__photographer__description .mainInPage__photographer__description__city {
  color: #901c1c;
}
#mainInPage .mainInPage__photographer .mainInPage__photographer__description .mainInPage__photographer__description__tagline {
  color: black;
  width: 70%;
}
@media screen and (min-width: 1024px) {
  #mainInPage .mainInPage__photographer .mainInPage__photographer__description .mainInPage__photographer__description__tagline {
    width: 100%;
  }
}
#mainInPage .mainInPage__photographer .mainInPage__photographer__description .mainInPage__photographer__tags {
  height: 13px;
  padding: 5px;
  margin: 2%;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  list-style-type: none;
  color: #901c1c;
}

#containerSortBy {
  display: none;
  position: relative;
}
@media screen and (min-width: 1024px) {
  #containerSortBy {
    display: flex;
    max-width: 1400px;
    margin: 1% auto;
    align-items: center;
  }
}
#containerSortBy #sortBy {
  position: absolute;
  left: 10%;
  width: 12%;
  height: 40px;
  margin-left: 1%;
  padding-top: auto;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 1;
}
#containerSortBy #sortBy:hover {
  border: 0 solid black;
  border-radius: 4px 4px 0 0;
  background: #901c1c;
}
#containerSortBy #sortBy:hover #sortByPopularity {
  background: #901c1c;
  color: white;
}
#containerSortBy #sortBy:hover #sortByDate {
  transform: translateY(100%);
  background: #901c1c;
  color: white;
}
#containerSortBy #sortBy:hover #sortByTitle {
  transform: translateY(200%);
  background: #901c1c;
  border-radius: 0 0 4px 4px;
  color: white;
}
#containerSortBy #sortBy:hover .fa-chevron-up {
  transform: rotate(180deg);
}
#containerSortBy #sortBy #sortByPopularity {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  margin-left: 4%;
  background: white;
  z-index: 5;
}
#containerSortBy #sortBy #sortByPopularity p {
  margin: auto;
}
#containerSortBy #sortBy #sortByDate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  background: white;
  z-index: 4;
  transform: translateY(0);
  transition: transform 300ms;
}
#containerSortBy #sortBy #sortByTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  background: white;
  z-index: 4;
  transform: translateY(0);
  transition: transform 300ms;
}
#containerSortBy #sortBy .barre2 {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 1px;
  margin-left: 5%;
  background: white;
}
#containerSortBy #sortBy .barre1 {
  position: absolute;
  top: 0;
  width: 90%;
  height: 1px;
  margin-left: 5%;
  background: white;
}
#containerSortBy #sortBy .fa-chevron-up {
  position: absolute;
  right: 8%;
  z-index: 6;
  transform: rotate(0);
}

#container-media {
  position: relative;
  flex-direction: column;
  padding: 20px 20px;
  max-width: 1400px;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  #container-media {
    margin: 40px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
  }
}
#container-media #container-media__photo {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #container-media #container-media__photo {
    width: 30%;
  }
}
#container-media #container-media__photo img, #container-media #container-media__photo video {
  width: 100%;
  height: 200px;
  margin: auto;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  #container-media #container-media__photo img, #container-media #container-media__photo video {
    height: 250px;
  }
}
#container-media .infoPhotos {
  padding: 10px 0;
  justify-content: space-between;
  color: #901c1c;
}
#container-media .infoPhotos .priceAndLikes {
  width: 27%;
  justify-content: space-between;
}
#container-media .infoPhotos .priceAndLikes .fa-heart {
  color: #901c1c;
  padding-left: 5px;
}

#button, #modal form button {
  position: fixed;
  bottom: 30px;
  left: 27.5%;
  width: 45%;
  height: 35px;
  margin: auto;
  background: #901c1c;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
@media screen and (min-width: 1024px) {
  #button, #modal form button {
    position: absolute;
    margin: 0;
    top: 155px;
    left: 42%;
    height: 27px;
    width: auto;
    padding: 7px;
    font-weight: normal;
  }
}

#ContainerTotalLikesAndPrice {
  display: none;
  position: fixed;
  bottom: 0;
  right: 2%;
  width: 350px;
  height: 50px;
  background: #db8876;
  border-radius: 8px 8px 0 0;
}
@media screen and (min-width: 1024px) {
  #ContainerTotalLikesAndPrice {
    display: flex;
  }
}
#ContainerTotalLikesAndPrice #totalLikes, #ContainerTotalLikesAndPrice #price {
  margin: auto;
  font-size: 1.4em;
}

#modal {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #db8876;
}
@media screen and (min-width: 1024px) {
  #modal {
    top: 5%;
    left: 35%;
    max-width: 35%;
    height: 90%;
    margin: auto;
    border-radius: 4px;
  }
}
#modal #headerModal {
  padding: 20px 20px 0 20px;
  justify-content: space-between;
}
#modal #headerModal #closeModal {
  font-size: 1.5em;
  color: white;
}
#modal #headerModal #modalTitle {
  font-weight: normal;
  font-size: 2.5em;
  margin: 0;
}
#modal #headerModal__photographer {
  font-size: 2em;
  padding-left: 20px;
}
#modal form {
  padding: 20px;
  margin-top: 10px;
  font-size: 1.2em;
}
@media screen and (min-width: 1024px) {
  #modal form {
    margin-top: 0;
    padding-top: 0;
  }
}
#modal form input {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
  border: 0;
}
@media screen and (min-width: 1024px) {
  #modal form input {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
#modal form #message {
  height: 200px;
}
@media screen and (min-width: 1024px) {
  #modal form #message {
    height: 120px;
  }
}
#modal form button {
  position: relative;
  top: 20px;
  left: 0;
  border: 0;
}
@media screen and (min-width: 1024px) {
  #modal form button {
    top: 5px;
    padding: 20px;
  }
}

#modalLightBox {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
}
#modalLightBox #closeModalLightBox {
  display: block;
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 1.3em;
  z-index: 2;
}
#modalLightBox #modalLightBoxLeft {
  position: absolute;
  left: 5%;
  top: 49%;
}
#modalLightBox #modalLightBox-containerImg {
  margin: auto;
  width: 85%;
  height: 100%;
}
#modalLightBox #modalLightBox-containerImg img {
  width: 85%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  #modalLightBox #modalLightBox-containerImg img {
    height: 90%;
    width: auto;
  }
}
#modalLightBox #modalLightBoxRight {
  position: absolute;
  right: 5%;
  top: 49%;
}

footer {
  margin: 10px;
  padding: 0 20px;
}
footer p {
  margin: auto;
  color: grey;
}

/*# sourceMappingURL=style.css.map */
