body {
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
header {
	position: relative;
	padding: 40px 25px;
	justify-content: space-between;
	#logo {
		height: 35px;
	}
	h1 {
		font-size: 1em;
	}
	.nav {
		position: absolute;
		top: 100px;
		width: 80%;
		@media screen and (min-width: 1280px) {
			top: 40px;	
			margin: auto;
		}
		.nav__li {
			height: 17px;
			margin-right: 15px;
			padding: 5px;
			border: 1px solid red;
			border-radius: 40%;
			list-style-type: none;
		}
	}
}

