body {
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}

$primary: rgba(144,28,28,1);

header {
	position: relative;
	padding: 40px 25px;
	justify-content: space-between;
	#logo {
		height: 35px;
	}
	h1 {
		font-size: 1em;
		color: $primary;
	}
	.nav {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		flex-direction: column;
		@media screen and (min-width: 1024px) {
			top: 40px;
			flex-direction: row;	
		}
		.nav1__ul {
			padding: 0;
			margin: auto;
			justify-content: space-around;
			@media screen and (min-width: 1024px) {
				margin: auto 1.3% auto auto;
			}
		}
		.nav2__ul {
			@extend .nav1__ul;
			@media screen and (min-width: 1024px) {
				margin: auto auto auto 1.3%;
			}
		}
		.nav__ul__li {
			height: 13px;
			padding: 5px;
			margin: 2%;
			font-size: 0.8em;
			border: 1px solid rgb(212,212,212);
			border-radius: 25px;
			list-style-type: none;
			color: $primary;
		}
	}
}
main {
	position: relative;
	top: 80px;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1024px) {
		top: 0;
		width: 60%;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;
	}
	.main__photographer {
		margin: 1% auto;
		width: 60%;
		height: 350px;
		@media screen and (min-width: 1024px) {
			max-width: 240px;
		}
		.main__photographer__photo {
			height: 200px;
			background: black;
		}
		.main__photographer__description {
			height: 75px;
			background: red;
		}
		.main__photographer__tags {
			height: 75px;
			background: blue;
		}
	}
}























