body {
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
* {
	font-family: 'DM Sans', sans-serif;
}
a {
	text-decoration: none;
}
p {
	margin: 5px;
}

$primary: rgba(144,28,28,1);
$secondary: rgba(211,87,60,1);

header {
	position: relative;
	padding: 40px 25px;
	justify-content: space-between;
	#logo {
		height: 35px;
	}
	@media screen and (min-width: 1024px) {
		padding: 40px 80px;	
	}
	h1 {
		font-size: 1em;
		color: $primary;
	}
	.nav {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		flex-direction: column;
		@media screen and (min-width: 1024px) {
			top: 40px;
			flex-direction: row;	
		}
		.nav1__ul {
			padding: 0;
			margin: auto;
			justify-content: space-around;
			@media screen and (min-width: 1024px) {
				margin: auto 1.3% auto auto;
			}
		}
		.nav2__ul {
			@extend .nav1__ul;
			@media screen and (min-width: 1024px) {
				margin: auto auto auto 1.3%;
			}
		}
		.nav__ul__li {
			height: 13px;
			padding: 5px;
			margin: 2%;
			font-size: 0.8em;
			font-weight: bold;
			border: 1px solid rgb(212,212,212);
			border-radius: 25px;
			list-style-type: none;
			color: $primary;
		}
	}
}
#main {
	position: relative;
	top: 80px;
	max-width: 1100px;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1024px) {
		top: 0;
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;
		padding: 0 80px;	
	}
	.main__photographer {
		margin: 3% auto 3% auto;
		height: 350px;
		@media screen and (min-width: 1024px) {
			
		}
		.main__photographer__photo {
			height: 200px;
			img {
				margin: auto;
				object-fit: cover;
  				border-radius: 100%;
  				height: 200px;
  				width: 200px;
			}
		}
		.main__photographer__description {
			height: 75px;
			text-align: center;
			.main__photographer__description__name {
				font-size: 2.3em;
				color: $secondary;
			}
			.main__photographer__description__city {
				color: $primary;
			}
			.main__photographer__description__tagline {
				color: black;
			}
			.main__photographer__description__price {
				color: grey;
			}
			.main__photographer__container {
				justify-content: center;
				.main__photographer__container__tags {
					height: 13px;
					padding: 5px;
					margin: 2%;
					font-size: 0.8em;
					font-weight: bold;
					border: 1px solid rgb(212,212,212);
					border-radius: 25px;
					list-style-type: none;
					color: $primary;
				}
			}
		}
	}
}
#mainInPage {
	position: relative;
	padding: 0 20px;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1024px) {
		top: 0;
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;	
	}
	.mainInPage__photographer {
		height: 125px;
		flex-direction: column;
		@media screen and (min-width: 1024px) {
			height: auto;
			background: rgba(250,250,250,1);
		}
		.mainInPage__photographer__photo {
			position: absolute;
			right: 20px;
			top: -10px;
			height: 100px;
			img {
				object-fit: cover;
  				border-radius: 100%;
  				height: 100px;
  				width: 100px;
  				@media screen and (min-width: 1024px) {
					height: 150px;
					width: 150px;		
				}
			}
		}
		.mainInPage__photographer__description {
			@media screen and (min-width: 1024px) {
				font-size: 1.3em;			
			}
			.mainInPage__photographer__description__name {
				width: 70%;
				font-size: 2em;
				color: $secondary;
				@media screen and (min-width: 1024px) {
					width: auto;			
				}
			}	
			.mainInPage__photographer__description__city {
				color: $primary;
			}
			.mainInPage__photographer__description__tagline {
				color: black;
				width: 70%;
				@media screen and (min-width: 1024px) {
					width: 100%;
				}
			}
			.mainInPage__photographer__tags {
				height: 13px;
				padding: 5px;
				margin: 2%;
				font-size: 0.8em;
				font-weight: bold;
				border: 1px solid rgb(212,212,212);
				border-radius: 25px;
				list-style-type: none;
				color: $primary;
			}
		}
	}	
}
#containerSortBy {
	display: none;
	position: relative;
	@media screen and (min-width: 1024px) {
		display: flex;
		max-width: 1400px;
		margin: 40px 80px;
		align-items: center;	
	}
	#sortBy {
		position: absolute;
		left: 10%;
		width: 12%;
		height: 40px;
		margin-left: 1%;
		padding-top: auto;
		align-items: center;
		border: 1px solid black;
		border-radius: 4px;
		z-index: 1;
		&:hover {
			border: 0 solid black;
			border-radius: 4px 4px 0 0;
			background: rgba(144,28,28,1);
			#sortByPopularity {
				background: rgba(144,28,28,1);
				color: white;
			}
			#sortByDate {
				transform: translateY(100%);
				background: rgba(144,28,28,1);
				color: white;
			}
			#sortByTitle {
				transform: translateY(200%);
				background: rgba(144,28,28,1);
				border-radius: 0 0 4px 4px;
				color: white;
			}
		}
		#sortByPopularity {
			position: absolute;
			top: 0;
			left: 0;
			height: 40px;
			margin-left: 4%;
			background: white;
			z-index: 4;
			p {
				margin: auto;
			}
		}
		#sortByDate {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 40px;
			align-items: center;
			background: white;
			z-index: 3;
			transform: translateY(0);
			transition: transform 300ms;
		}
		#sortByTitle {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 40px;
			align-items: center;
			background: white;
			z-index: 3;
			transform: translateY(0);
			transition: transform 300ms;
		}
		.barre2 {
			position: absolute;
			bottom: 0;
			width: 90%;
			height: 1px;
			margin-left: 5%;
			background: white;
		}
		.barre1 {
			position: absolute;
			top: 0;
			width: 90%;
			height: 1px;
			margin-left: 5%;
			background: white;
		}
	}
}
#container-media {
	position: relative;
	flex-direction: column;
	padding: 20px 20px;
	max-width: 1400px;
	height: 100%;
	@media screen and (min-width: 1024px) {
		margin: 40px auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 80px;	
	}
	#container-media__photo {
		flex-direction: column;
		@media screen and (min-width: 1024px) {
			width: 30%;
		}
		img, video {
			width: 100%;
			height: 200px;
			margin: auto;
			object-fit: cover;
			@media screen and (min-width: 1024px) {
				height: 250px;
			}
		}
	}
	.infoPhotos {
		padding: 10px 0;
		justify-content: space-between;
		color: $primary;
		@media screen and (min-width: 1024px) {
			
		}
		.priceAndLikes {
			width: 27%;
			justify-content: space-between;
			.fa-heart {
				color: $primary;
				padding-left: 5px;
			}
		}
	}
}
#button {
	position: fixed;
	bottom: 30px;
	left: 27.5%;
	width: 45%;
	height: 35px;
	margin: auto;
	background: $primary;
	color: white;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	@media screen and (min-width: 1024px) {
		position: absolute;
		margin: 0;
		top: 125px;	
		height: 27px;
		width: auto;
		padding: 7px;
		font-weight: normal;
	}
}
#ContainerTotalLikesAndPrice {
	display: none;
	position: fixed;
	bottom: 0;
	right: 2%;
	width: 350px;
	height: 50px;
	background: rgba(219,136,118,1);
	border-radius: 8px 8px 0 0;
	@media screen and (min-width: 1024px) {
		display: flex;
	}
	#totalLikes, #price {
		margin: auto;
		font-size: 1.5em;
	}
}
#modal {
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background: rgba(219,136,118,1);
	@media screen and (min-width: 1024px) {
		top: 5%;
		left: 35%;
		max-width: 30%;
		height: 90%;
		margin: auto;
		border-radius: 4px;
	}
	#headerModal {
		padding: 20px 20px 0 20px;
		font-size: 2em;
		justify-content: space-between;
		#closeModal {
			color: white;
		}
	}
	#headerModal__photographer {
		font-size: 2em;
		padding-left: 20px;
	}
	form {
		padding: 20px;
		margin-top: 10px;
		font-size: 1.2em;
		@media screen and (min-width: 1024px) {
			margin-top: 0; 
			padding-top: 0;
		}
		input {
			display: block;
			width: 100%;
			height: 50px;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 0;
			border-radius: 5px;
			border: 0;
			@media screen and (min-width: 1024px) {
				margin-top: 3px;
				margin-bottom: 3px;
			}
		}
		#message {
			height: 200px;
			@media screen and (min-width: 1024px) {
				height: 120px;
			}
		}
		button {
			@extend #button;
			position: relative;
			top: 20px;
			border: 0;
			@media screen and (min-width: 1024px) {
				top: 5px;
				padding: 20px;
				left: 0;
			}
		}
	}
}
footer {
	margin: 10px;
	padding: 0 20px;
	p {
		margin: auto;
		color: grey;
	}
}
























