body {
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
* {
	font-family: 'DM Sans', sans-serif;
}
a {
	text-decoration: none;
}
p {
	margin: 5px;
}

$primary: rgba(144,28,28,1);
$secondary: rgba(211,87,60,1);

header {
	position: relative;
	padding: 40px 25px;
	justify-content: space-between;
	#logo {
		height: 35px;
	}
	h1 {
		font-size: 1em;
		color: $primary;
	}
	.nav {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		flex-direction: column;
		@media screen and (min-width: 1024px) {
			top: 40px;
			flex-direction: row;	
		}
		.nav1__ul {
			padding: 0;
			margin: auto;
			justify-content: space-around;
			@media screen and (min-width: 1024px) {
				margin: auto 1.3% auto auto;
			}
		}
		.nav2__ul {
			@extend .nav1__ul;
			@media screen and (min-width: 1024px) {
				margin: auto auto auto 1.3%;
			}
		}
		.nav__ul__li {
			height: 13px;
			padding: 5px;
			margin: 2%;
			font-size: 0.8em;
			font-weight: bold;
			border: 1px solid rgb(212,212,212);
			border-radius: 25px;
			list-style-type: none;
			color: $primary;
		}
	}
}
#main {
	position: relative;
	top: 80px;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1024px) {
		top: 0;
		width: 60%;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;
	}
	.main__photographer {
		margin: 1% auto;
		height: 350px;
		@media screen and (min-width: 1024px) {
			max-width: 240px;
		}
		.main__photographer__photo {
			height: 200px;
			img {
				margin: auto;
				object-fit: cover;
  				border-radius: 100%;
  				height: 200px;
  				width: 200px;
			}
		}
		.main__photographer__description {
			height: 75px;
			text-align: center;
			.main__photographer__description__name {
				font-size: 2.3em;
				color: $secondary;
			}
			.main__photographer__description__city {
				color: $primary;
			}
			.main__photographer__description__tagline {
				color: black;
			}
			.main__photographer__description__price {
				color: grey;
			}
			.main__photographer__tags {
				height: 13px;
				padding: 5px;
				margin: 2%;
				font-size: 0.8em;
				font-weight: bold;
				border: 1px solid rgb(212,212,212);
				border-radius: 25px;
				list-style-type: none;
				color: $primary;
			}
		}
	}
}
#mainInPage {
	position: relative;
	padding: 0 20px;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 1024px) {
		top: 0;
		width: 60%;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;
	}
	.mainInPage__photographer {
		height: 125px;
		@media screen and (min-width: 1024px) {
			max-width: 240px;
		}
		.mainInPage__photographer__photo {
			position: absolute;
			right: 20px;
			top: -10px;
			height: 100px;
			img {
				object-fit: cover;
  				border-radius: 100%;
  				height: 100px;
  				width: 100px;
			}
		}
		.mainInPage__photographer__description {

			.mainInPage__photographer__description__name {
				width: 70%;
				font-size: 2em;
				color: $secondary;
			}	
			.mainInPage__photographer__description__city {
				color: $primary;
			}
			.mainInPage__photographer__description__tagline {
				color: black;
				width: 70%;
			}
			.mainInPage__photographer__tags {
				height: 13px;
				padding: 5px;
				margin: 2%;
				font-size: 0.8em;
				font-weight: bold;
				border: 1px solid rgb(212,212,212);
				border-radius: 25px;
				list-style-type: none;
				color: $primary;
			}
		}
	}	
}
#container-media {
	flex-direction: column;
	padding: 20px 20px;
	img {
		border-radius: 5px;
	}
	.infoPhotos {
		padding: 10px 0;
		justify-content: space-between;
		color: $primary;
		.priceAndLikes {
			width: 27%;
			justify-content: space-between;
			.fa-heart {
				color: $primary;
				padding-left: 5px;
			}
		}
	}
}
#button {
	position: fixed;
	bottom: 30px;
	left: 27.5%;
	width: 45%;
	height: 35px;
	margin: auto;
	background: $primary;
	color: white;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}
#modal {
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background: rgba(219,136,118,1);
	#headerModal {
		padding: 20px 20px 0 20px;
		font-size: 2em;
		justify-content: space-between;
		#closeModal {
			color: white;
		}
	}
	#headerModal__photographer {
		font-size: 2em;
		padding-left: 20px;
	}
	form {
		padding: 20px;
		margin-top: 10px;
		font-size: 1.2em;
		input {
			display: block;
			width: 100%;
			height: 50px;
			margin-top: 10px;
			margin-bottom: 20px;
			padding: 0;
			border-radius: 5px;
			border: 0;
		}
		#message {
			height: 200px;
		}
		button {
			@extend #button;
			position: relative;
			margin-top: 25px;
			border: 0;
		}
	}
}
footer {
	margin: 10px;
	padding: 0 20px;
	p {
		margin: auto;
		color: grey;
	}
}
























